.pokemonImage{
    float: left;
  }
  
  .pokemonContainer{
    margin: 7%;
    padding: 5%;
    border: 1px black solid;
    border-radius: 10px;
    font-size: 1rem;
  }
  
  .pokemonContainer h2{
    font-size: 25px;
  }

  .heightweight{
    margin-bottom: 30px;
  }
  
  .pokemonName{
    text-align: center;
    margin-bottom: 20px;
  }