.card {
  height: 100%;
  width: 200px;
  margin: 20px auto;
  border-radius: 20%;
  align-items: center;
  border: 1px solid #D3D3D3;
}

.image{
    height: 190px;
    width: 190px;
  }
  
 .cardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .body{
 }