.card {
  height: 100%;
  width: 200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  border: 1px solid #D3D3D3;
}
.cardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
 }
