.list-container{
    width: 90%;
    margin: auto;
  }
  
  .list-container .pokemon-item {
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 7px;
    border: 1 px black solid;
  }